// ⚠️
// if you change something here change
// it also in index.js
$breakpoints--default: 0;
$breakpoints--xs: 550px;
$breakpoints--s: 890px;
$breakpoints--m: 1024px;
$breakpoints--l: 1200px;
$breakpoints--xl: 1400px;

// old
// $breakpoints--default: 0;
// $breakpoints--m: 890px;
// $breakpoints--l: 1024px;
