@import url("https://fonts.signalwerk.ch/css/latest/family=Unicode+BMP+Fallback.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@import "./Breakpoints/mixins.scss";
@import "./typography.scss";
@import "./list.scss";
@import "./typo-example.scss";

:root {
  --green-color: #006984;
  --blue-color: #0054a2;
  --gray-color: #e6e8ea;
  --brown-color: rgb(178, 112, 0);
  --gray-red: #f00;

  --color-primary: var(--blue-color);
  --color-secondary: var(--green-color);
  --color-signal: var(--brown-color);

  --text-indent: 1.5rem;

  --column-left: calc(7% + var(--text-indent));
  --column-width: calc(89% - var(--text-indent));

  @include media(m) {
    --text-indent: 4rem;
    --column-left: calc(12% + var(--text-indent));
    --column-width: calc(85% - var(--text-indent));
  }

  @include media(l) {
    --column-left: calc(18% + var(--text-indent));
    --column-width: calc(75% - var(--text-indent));
  }

  @include media(xl) {
    --column-left: calc(30% + var(--text-indent));
    --column-width: calc(55% - var(--text-indent));
  }

  @include media(print) {
    --column-left: calc(20% + var(--text-indent));
    --column-width: calc(70% - var(--text-indent));
  }
}

::selection {
  background: var(--color-primary);
  color: white;
  text-shadow: none;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
  // only required for images with max-width
  // height: auto;
}

p,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0.6em;

  @include media(print) {
    orphans: 3;
    widows: 3;
  }
}

a {
  color: inherit;

  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-line: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.3em;

  &:hover {
    color: var(--color-primary);
    text-decoration-color: var(--color-primary);
  }
}

// .header__title {
//   font-size: 1.7rem;
//   color: var(--color-primary);
// }

// .header {
//   padding-top: 1rem;
//   padding-bottom: 2rem;
// }

.full-width {
  padding-left: 0.9em;
  padding-right: 0.9em;
}

.node-page {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding-bottom: 10rem;
}

.node-page > .node-text,
.node-page > .node-grid {
  &:not(.full-width) {
    width: var(--column-width);
    margin-left: var(--column-left);
  }
}

.node-grid {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

:root {
  --node-gird--count: 12;
  --node-grid-column--count: 1;
}

.node-grid {
  display: var(--grid--display, grid);
  grid-template-columns: repeat(var(--node-gird--count), 1fr);
  grid-column-gap: var(--grid--grid-column-gap, 1.5rem);
}

.node-grid-column {
  grid-column: span var(--node-grid-column--count);
}

small {
  font-size: 0.8em;
}

.regular {
  font-weight: 400;
}

// node-grid

// :root {
//   --node-gird--count: 12;
//   --node-grid-column--count: 1;
// }

// .node-grid {
//   display: var(--grid--display, grid);
//   grid-template-columns: repeat(var(--node-gird--count), 1fr);
//   grid-column-gap: var(--grid--grid-column-gap, 1.5rem);
// }

// .node-grid-column {
//   grid-column: span var(--node-grid-column--count);
// }

body:after {
  content: "mobile";
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 12px;
  color: #f00;
  padding: 0.5em 1em;
  background-color: #ccc;

  @include media(xs) {
    content: "Size xs";
  }

  @include media(s) {
    content: "Size s";
  }

  @include media(m) {
    content: "Size m";
  }

  @include media(l) {
    content: "Size l";
  }

  @include media(xl) {
    content: "Size xl";
  }
  @include media(print) {
    content: "print";
    display: none;
  }
}

@include media(print) {
  @page {
    size: A4;
    margin-top: 20mm;
    margin-bottom: 35mm;
    margin-left: 30mm;
    margin-right: 12mm;
  }

  table,
  figure {
    page-break-inside: avoid;
  }

  // h1 {
  //   page-break-before: always;
  // }

  .typo-example {
    break-inside: avoid; /* Avoid breaking inside the element */
  }
  .typo-example + .node-text {
    break-before: avoid; /* Avoid breaking before the .node-text if it follows .typo-example */
  }

  h1 {
    string-set: titleH1 content(text);
  }
  h2 {
    string-set: titleH2 content(text);
  }

  @page {
    @bottom-left {
      content: "Stefan Huber · 2024  · " string(titleH1) " · " string(titleH2);
      vertical-align: bottom;
      margin-bottom: 15mm;
    }

    @bottom-right {
      content: counter(page) " | " counter(pages);
      vertical-align: bottom;
      margin-bottom: 15mm;
    }
  }
}
