:root {
  --color-primary: #921269;
  --color-secondary: #093573;

  --text-indent: 1.5rem;

  --column-left: calc(7% + var(--text-indent));
  --column-width: calc(89% - var(--text-indent));

  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  hyphens: auto;
  font-size: 16px;

  @media (min-width: 650px) {
    --text-indent: 4rem;
    --column-left: calc(12% + var(--text-indent));
    --column-width: calc(85% - var(--text-indent));

    font-size: 20px;
  }

  @media (min-width: 940px) {
    --column-left: calc(18% + var(--text-indent));
    --column-width: calc(75% - var(--text-indent));
    font-size: 21px;
  }

  @media (min-width: 1200px) {
    --column-left: calc(30% + var(--text-indent));
    --column-width: calc(55% - var(--text-indent));
  }

  // @media (min-width: 1500px) {
  //   font-size: 1.4vw;
  // }
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
  // only required for images with max-width
  // height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0.4em;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-top: 0em;
  margin-bottom: 0.4em;
  line-height: 1.3;
  hyphens: none;
  color: black;
}

h1 {
  font-family: "IBM Plex Mono";
  margin-top: 0em;

  font-weight: 400;
  font-style: italic;
  color: var(--color-secondary);
  font-size: 3rem;
  line-height: 1.1;

  @media (min-width: 650px) {
    hyphens: none;
    // font-size: 3.5rem;
  }

  @media (min-width: 940px) {
    font-size: 3.5rem;
  }

  @media (min-width: 1200px) {
    font-size: 5.5rem;
    line-height: 1;
  }
}

h2 {
  font-size: 1.5rem;
  margin-top: 3em;
}

h3 {
  font-size: 1.2rem;
}

a {
  color: inherit;

  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-line: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.3em;

  &:hover {
    color: var(--color-primary);
    text-decoration-color: var(--color-primary);
  }
}

.hidden {
  display: none;
}

.header__title {
  font-size: 1.7rem;
  color: var(--color-primary);
  // margin-top: 1.1em;
  // font-style: normal;
  // border-top: 0.1em solid var(--color-primary);
  // padding-top: 0.5em;

  // &:before,
  // &:after {
  //   content: " ";
  //   display: block;
  //   // width: 30%;
  //   height: 0.2em;
  //   background-color: var(--color-primary);
  //   margin-bottom: 0.5em;
  // }

  // &:before {
  //   height: 0.4em;
  // }
}

.header {
  padding-top: 1rem;
  padding-bottom: 2rem;

  @media (min-width: 940px) {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
}

.full-width {
  padding-left: 0.9em;
  padding-right: 0.9em;
}

.node-page {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding-bottom: 10rem;
}

.node-text,
.node-grid {
  &:not(.full-width) {
    width: var(--column-width);
    margin-left: var(--column-left);
  }
}

.node-grid {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

:root {
  --node-gird--count: 12;
  --node-grid-column--count: 1;
}

.node-grid {
  display: var(--grid--display, grid);
  grid-template-columns: repeat(var(--node-gird--count), 1fr);
  grid-column-gap: var(--grid--grid-column-gap, 1.5rem);
}

.node-grid-column {
  grid-column: span var(--node-grid-column--count);
}

small {
  font-size: 0.8em;
}

.regular {
  font-weight: 400;
}

// node-grid

// :root {
//   --node-gird--count: 12;
//   --node-grid-column--count: 1;
// }

// .node-grid {
//   display: var(--grid--display, grid);
//   grid-template-columns: repeat(var(--node-gird--count), 1fr);
//   grid-column-gap: var(--grid--grid-column-gap, 1.5rem);
// }

// .node-grid-column {
//   grid-column: span var(--node-grid-column--count);
// }
